{% extends "user_layout.html" %}
{% block content %}

<div class="flex-grow pt-5 max-w-5xl lg:max-w-4xl md:max-w-3xl sm:max-w-xl mx-auto">
    <h1> View Map </h1>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <style>
        #map { height: 500px; width: 500px;}
    </style>
    
    <div id="map" class="border-4 border-black">
        <script>

            var map = L.map('map', {
                zoom: 13
            });
    
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 20,
            }).addTo(map);
    
            var coordinates = JSON.parse('{{ points|tojson|safe }}');

            var polyline = L.polyline(coordinates, {color: 'red'}).addTo(map)
            map.fitBounds(polyline.getBounds());

        </script>
    </div>

</div>
{% endblock content %}