{% extends "user_layout.html" %}
{% block content %}
<div class="flex-grow">
    <div class="container flex flex-col items-center mx-auto pt-10">
        <h1 class="text-2xl font-bold"> Your Account </h1>
        <a href="{{url_for('logout')}}" class="underline"> Logout </a>
    
        <div class="pt-5">
            <h2 class="text-lg">User ID: {{ user["id"] }}</h2>
            <h2 class="text-lg">Username: {{ user["username"] }}</h2>
            <h2 class="text-lg">Email: {{ user["email"] }}</h2>
            {% if user["isSubscribed"] == False %}
                <h2 class="text-lg">Subcription Status: Not Active </h2>
            {% else %}
                <h2 class="text-lg">Subcription Status: Active </h2>
            {% endif %}
        </div>

        <h1 class="text-xl font-bold pt-10"> Uploaded Files </h1>
        <div class="pt-5">
            <table class="border-2 border-black p-2 table-fixed">
                <tr class="text-xs text-left">
                    <th class="border-t-2 border-black p-2">Maps</th>
                    <th class="border-t-2 border-black pl-2">Actions</th>
                    <th class="border-t-2 border-black p-2"></th>
                </tr>
                {% for file in files %}
                    <tr>
                        <td class="text-left border-b-2 border-black p-2">{{ file[1][:-4] }}</td>
                        <td class="text-left text-xs border-b-2 border-black pl-2 underline"> <a href="{{ url_for('view', id=file[0] )}}">view</a></td>
                        <td class="text-left text-xs border-b-2 border-black p-2 underline"> <a href="{{ url_for('delete', id=file[0] )}}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>    
</div>

{% endblock content %}