{% extends "layout.html" %}
{% block content %}
<div class="flex-grow">
    <div class="container flex flex-col items-center mx-auto py-10">
        <h1 class="text-3xl font-bold"> Register </h1>
        <form method="POST" action="" class="py-5">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="font-semibold">
                <legend class="hidden">register form</legend>
                <div class="flex flex-col p-2">
                    {{ form.username.label(class="text-black")}}
                    {{ form.username(class="border border-black border-2 px-1")}}
                </div>
                <div class="flex flex-col p-2">
                    {{ form.email.label(class="text-black")}}
                    {{ form.email(class="border border-black border-2 px-1")}}
                </div>
                <div class="flex flex-col p-2">
                    {{ form.password.label(class="text-black")}}
                    {{ form.password(class="border border-black border-2 px-1")}}
                </div>
                <div class="flex justify-center p-2">
                    {{ form.submit(class="text-black bg-black border-2 border-black py-1 px-2 bg-slate-100 hover:bg-black hover:text-white hover:italic")}}
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}